*{
    margin: 0px;
    padding: 0px;
}
.card{
    float: right;
    margin: 60px 100px 0px 10px;
}
.navbar-nav li a{
    padding: 10 10px; 
}
.navbar-right a{
    text-decoration: none;
    list-style: none;
    margin: 0px 20px;
}
.container .media{
    float: left;
}
/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
.page-footer{
    background-color: #0A0A0A;
    color: #605F5F;
}
.footer-copyright{
    background-color: #0A0A0A;
    color:#605F5F;
}
.col-md-12 a{
    color:#605F5F;
    padding: 10px;
}
ul li{
    padding: 1px;
}
.footer a{
    color: #605F5F;
}